.movie-item {
    background: $movies-background;
    padding: .5rem;
    display: flex;
    width: 200px;
    min-height: 400px;
    flex-direction: column;
    margin-bottom: 1rem;

    &__poster {
        flex: 1;
        margin-bottom: 1rem;
    }

    &__info {
        position: relative;
        color: $color-white;
        bottom: 0;
    }

    &__add-favorite {
        position: absolute;
        height: 60px;
        padding: 0px;
        transform: rotate(0deg) skew(0deg);
        border-left: 20px solid rgba(10, 10, 10, 0.8);
        border-right: 20px solid rgba(10, 10, 10, 0.8);
        border-bottom: 20px solid transparent;
        filter: drop-shadow(0px 2px 0px #b8b6b6);

        &:hover {
            border-left: 20px solid rgba(86, 86, 86, 0.8);
            border-right: 20px solid rgba(86, 86, 86, 0.8);
            border-bottom: 20px solid transparent;
            cursor: pointer;
            filter: drop-shadow(0px 2px 0px #7a7a7a);
        }

        &--plus-icon, &--check-icon {
            font-size: 1.2rem;
            color: $color-white;
            position: absolute;
            top: 0.8rem;
            left: -0.6rem;
        }
    }
}