// colors
$dark-red: darkRed;
$color-red: #b4193b;
$color-black: #000;
$color-white: #fff;
$main-color: #313f48;
$movies-background: #1a1a1a;
$color-gray-86: #dbdbdb;
$label-movie: #2b99ff;

// buttons
$button-submit-color: #fd8224;
$button-submit-transition: #b15b19;
$button-cancel-color: #c81d11;
$button-search-color: #393939;
$button-search-transition: #313f48;

// font-size
$body-default-size: 1rem;
$font-size-2x: $body-default-size * 2;
$font-size-1-half: $body-default-size * 1.5;

// rating
$rating-star: #e4bb24;

//space
$space-separation: 1rem;
$space-separation-2x: $space-separation * 2;